APP_PORT=3001
APP_WS_PORT=3001
#key untuk jwt token
JWT_SECRET_KEY=

DATABASE_URL="mysql://root:root@localhost:8889/db_simrs4"

#satuan menit
CLIENT_KEY_EXPIRED_TIME=2
#satuan jam
JWT_TOKEN_EXPIRED_TIME=1

THROTTLER_LIMIT=100
THROTTLER_TTL=60000

USER_DEFAULT_PASSWORD=RSUMM@17082013

#BPJS
BASE_URL=
CONSUMER_ID=
SECRET_KEY=

#BPJS VClaim
VCLAIM_USER_KEY=
VCLAIM_SERVICE_NAME=

#BPJS antrean
QUEUE_USER_KEY=
QUEUE_SERVICE_NAME=
